<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <title>
            Rango
        </title>
    </head>

    <body>
        <h1>Rango Says</h1>
        <div>
            hey there Mayank you are missing !<br/>
            <strong>{{ boldmessage}} </strong>
        </div>

        <div>
        {% if categories %}
        <ul>
        {% for category in categories %}
        <li>{{ category.name }}</li>
        {% endfor %}
        </ul>
        {% else %}
        <strong>There are no categories present.</strong>
        {% endif %}
        </div>

        <div>
            <a href="/rango/about">About</a><br/>
            <img src="{% static 'images/bru.jpg'%}"
            alt="Picture of Rango" />
        </div>
    </body>
</html>