<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <title>
            Rango
        </title>
    </head>

    <body>
        <h1>Rango Says</h1>
        <div>
            hey there Mayank you are missing !<br/>
            <strong>{{ boldmessage}} </strong>
        </div>

        <div>
            <h1>Most liked categories</h1>
        {% if categories %}
        <ul>
        {% for category in categories %}
        <li>
            <a href="/rango/category/{{ category.slug }}">{{ category.name }}</a>
        </li>
        {% endfor %}
        </ul>
        {% else %}
        <strong>There are no categories present.</strong>
        {% endif %}
        </div>

        <div>
            <h2>Most Viwed pages</h2>
            {% if most_viwed_pages %}
            <ul>
                {% for mvp in most_viwed_pages%}
                <li>
                <a href="{{ mvp.url }}">{{mvp.title}}</a>
                </li>
                {%endfor%}
            </ul>
            {%else%}
            <strong>No most viwed pages found</strong>
            {% endif %}
        </div>
        <div>
            <a href="/rango/about">About</a><br/>
            <img src="{% static 'images/bru.jpg'%}"
            alt="Picture of Rango" width="500" height="500" />
        </div>
    </body>
</html>