{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block body_block %}

{% if user.is_authenticated %} 
howdy {{ user.username }}!
 {% else %} 
 hey there partner! 
 {% endif %}
        <div>
            <h1>Most liked categories</h1>
        {% if categories %}
        <ul>
        {% for category in categories %}
        <li>
            <a href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
        </li>
        {% endfor %}
        </ul>
        {% else %}
        <strong>There are no categories present.</strong>
        {% endif %}
        </div>

        <div>
            <h2>Most Viwed pages</h2>
            {% if most_viwed_pages %}
            <ul>
                {% for mvp in most_viwed_pages%}
                <li>
                <a href="{{ mvp.url }}">{{mvp.title}}</a>
                </li>
                {%endfor%}
            </ul>
            {%else%}
            <strong>No most viwed pages found</strong>
            {% endif %}
        </div>
        <div>
            <img src="{% static 'images/bru.jpg'%}"
            alt="Picture of Rango" width="200" height="200" />
        </div>
{% endblock %}